* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}

body {
  background-color: #0e0030;
  color: #fff;
}

/* TO-DO SECTION */
.to-do {
  border: 4px solid red;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  gap: 1rem;
}

.to-do h1 {
  text-align: center;
}

.to-do textarea {
  margin: 0 4rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.to-do button {
  width: 60px;
  align-self: center;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  background-color: rgb(32, 176, 32);
  color: #fff;
  cursor: pointer;
}

.to-do li {
  list-style: none;
  position: relative;
  margin: 1rem 4rem;
}

.to-do li span {
  position: absolute;
  right: 0;
  fill: #fff;
  width: 24px;
  height: 24px;
}

.to-do span:hover {
  fill: red;
  scale: 1.1;
  cursor: pointer;
}

.to-do span:active {
  scale: 0.95;
}
